<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container valign-wrapper full-size-height">
    <div class="center-align width-100">
      <a href="/" class="lang-logo">
        <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
      </a>
      <h1><i class="material-icons large">trending_up</i> Github Trending Repositories</h1>
      <p>This app lists the 100 Top Trending GitHub Repositories.</p>
      <a type="button" class="waves-effect waves-light btn purple" href="/refresh"><i class="material-icons left">refresh</i>Refresh the list</a>
    </div>
  </div>

  <br />
  <div class="container">
    <div class="row">
      <% repos.forEach(function(repo) { %>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s1">
                <img class="avatar-img" src="<%= repo.owner.avatar_url %>" />
              </div>
              <div class="col s11">
                <span class="card-title"><%= repo.name %> - Created by <%= repo.owner.login %></span>
                <p>
                  <%= repo.description %>
                </p>
              </div>
            </div> <!-- row -->
          </div>
          <div class="card-action">
            <div class="inline-div">
              <a href="<%= repo.html_url %>"><i class="material-icons left">launch</i>Go to GitHub</a>
            </div>
            <div class="inline-div">
              <a onclick="rate('<%= repo.full_name %>')"><i class="material-icons left">star</i>Star - <%= repo.stargazers_count %> stars</a>              
            </div>
          </div>
        </div> <!-- card -->
      <% }); %>
    </div> <!-- row -->
  </div> <!-- container -->

  <script>
    //Calls the route to rate a repo
    function rate(repo){
      console.log("Calling rate");
      $.ajax({
        url: '/rate?fullname='+repo,
        method: "GET",
        success: function(response){
          //Informs user of success
          M.toast({html: 'Rating worked!'})
        },
        error: function(error){
          //Informs user of error
          M.toast({html: 'Rating failed, try logging in !'})
        }
      });

    }
  </script>
</body>
</html>
